.containerButton p {
  color: var(--medios-tonos-gris-5, #26262e);
  text-align: center;
  font-family: Rubik;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.5px;
  position: fixed;
  bottom: 20px;
}

.containerButton {
  margin-top: 360px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.btnMain4 {
  position: fixed;
  bottom: 40px;
  margin: 0 auto;
  border: none;
  background-color: #ff8e0a;
  border-top-right-radius: 15px;
  border-bottom-left-radius: 15px;
  width: 288px;
  height: 48px;
  margin-bottom: 16px;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  color: white;
}

.disabledBottom4 {
  position: fixed;
  bottom: 40px;
  border-radius: 0px 16px;
  background: var(--medios-tonos-gris-1, #e4e6e8);
  border-top-right-radius: 15px;
  border-bottom-left-radius: 15px;
  width: 288px;
  height: 48px;
  margin-bottom: 16px;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  color: white;
  border: none;
}

.loginUser {
  margin-top: 40px;
}
